<rb-header></rb-header>

<div class="bg-white py-5">

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">

        <h2 class="info no-select d-flex justify-content-around">
          <fa (click)="onPrevious()" class="text-highlight" name="arrow-circle-left"></fa>
          <span class="w-25 text-center">
              <span id="currentSolution">{{currentSolution$ | async}}</span> of
              <span id="totalSolutions">{{solutionsQyt$ | async}}</span>
          </span>
          <fa (click)="onNext()" class="text-highlight" name="arrow-circle-right"></fa>
        </h2>

        <svg enable-background="new 139.4 300.4 612 625.2" id="board" version="1.1"
             viewBox="139.4 300.4 612 625.2"
             x="0px" xml:space="preserve"
             xmlns="http://www.w3.org/2000/svg" y="0px">

          <g *ngFor="let column of (numColumns$  | async) | forNumber; let y = index; let y_odd = odd;">
                    <g *ngFor="let row of (numColumns$  | async) | forNumber; let i = index; let i_odd = odd;">
                      <rect [attr.fill]="!y_odd ? (i_odd  ? '#fff' : '#BCDBE0') : (i_odd  ?  '#BCDBE0' :'#fff')"
                            [attr.x]="178.6 + (i * 66.8)"
                            [attr.y]="340.8 + (66.8 * y)"
                            class="box"
                            height="66.7"
                            width="66.7">
                      </rect>
                      <path
                        [attr.d]="'M' + (236.3 + (66.8 * i)) + ',' + (359 + (66.7 * y)) + 'c-1.5-1-3.5-0.6-4.5,0.9c-0.8,1.3-0.6,3.1,0.4,4.1l-10.6,10.9l1.6-15.1 c1.5,0.2,3-0.7,3.4-2.2c0.5-1.7-0.4-3.5-2.1-4c-1.7-0.5-3.5,0.4-4,2.1c-0.4,1.5,0.3,3.1,1.6,3.8l-6.9,13.6l-2.8-15 c1.5-0.3,2.7-1.5,2.7-3.2c0-1.7-1.4-3.2-3.2-3.2c-1.7,0-3.2,1.4-3.2,3.2c0,1.5,1.1,2.9,2.7,3.2l-2.8,15l-6.9-13.6 c1.3-0.7,2-2.2,1.6-3.8c-0.5-1.7-2.3-2.7-4-2.1c-1.7,0.5-2.7,2.3-2.1,4c0.4,1.5,1.9,2.5,3.4,2.2l1.6,15.1L' + (191.6 + (66.8 * i)) + ',' + (364 + (66.8 * y)) + ' c1.1-1,1.3-2.8,0.4-4.1c-1-1.5-3-1.9-4.5-0.9s-1.9,3-0.9,4.5c0.8,1.3,2.6,1.7,3.9,1.2l7.8,15.1c0,0,0.8,4,0.8,7.6s-3,3.6-3,6 c0,2.3,10.7,3.2,15.9,3.2c5.2,0,15.9-0.8,15.9-3.2c0-2.3-3-2.3-3-6s0.8-7.6,0.8-7.6l7.8-15.1c1.4,0.6,3.1,0.1,3.9-1.2 C' + (238.2 + (66.8 * i)) + ',' + (362 + (66.6 * y)) + ',' + (237.8 + (66.8 * i)) + ',' + (360 + (66.7 * y)) + ',' + (236.3 + (66.8 * i)) + ',' + (359 + (66.7 * y)) + 'z'"
                        [attr.fill]=" (allSolutions$ | async)[(currentSolution$  | async)- 1][i] ===  y ?  'rgb(211, 54, 130)' : 'transparent'"
                        class="queen">
                      </path>
                    </g>
          </g>

          <g id="Border">
              <rect fill="none" height="533.4" id="Outline" stroke="#17a2b8" stroke-miterlimit="10" stroke-width="4"
                    width="533.4" x="178.6"
                    y="340.8"></rect>
            </g>

          <g id="Numbers">
              <g>
                <path d="M154.9,846.4L154.9,846.4c1.8,0.4,3,0.9,3.5,1.8c0.5,0.9,0.9,2.1,0.9,4.2c0,3.2-0.5,5.1-1.8,6.2
                  c-1.2,0.9-3.7,1.4-7.4,1.4c-4.2,0-6.9-0.4-7.9-1.4c-1.2-0.9-1.8-2.8-1.8-5.8c0-2.3,0.4-3.7,0.9-4.6c0.5-0.7,1.8-1.4,3.7-1.8v-0.2
                  c-1.8-0.4-2.8-0.9-3.3-1.8c-0.5-0.9-0.7-2.1-0.7-4.2c0-2.6,0.5-4.4,1.8-5.3c1.2-0.9,3.5-1.2,7.2-1.2c4,0,6.7,0.4,7.7,1.2
                  c1.2,0.9,1.8,2.6,1.8,5.6c0,1.9-0.4,3.3-0.9,4C157.8,845.2,156.4,846.3,154.9,846.4z M149.4,847.9c-3,0-4.7,0.2-5.6,0.7
                  c-0.9,0.5-1.1,1.8-1.1,3.9c0,2.1,0.2,3.3,0.7,3.9c0.5,0.5,1.6,0.9,3.3,0.9l3.7,0.2l2.3-0.2c1.4-0.2,2.3-0.7,2.8-1.2
                  c0.5-0.5,0.7-2.1,0.7-3.9c0-1.9-0.4-3.2-1.2-3.7C154.5,848,152.6,847.9,149.4,847.9z M149.4,836.4c-2.8,0-4.7,0.2-5.3,0.7
                  c-0.5,0.5-0.9,1.8-0.9,3.9s0.4,3.3,1.2,3.7c0.7,0.4,2.8,0.7,6.3,0.7c2.3,0,3.9-0.4,4.4-0.9c0.7-0.5,0.9-1.9,0.9-3.9
                  c0-1.9-0.4-3.2-1.1-3.5C154.3,836.8,152.6,836.4,149.4,836.4z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M158.5,767.7v3.7l-12.3,21.8h-3.3l13.4-23h-16.2v-2.5H158.5z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M158.4,707.3h-2.8c0-0.4,0.2-0.7,0.2-0.9c0-1.4-0.4-2.3-1.1-2.6c-0.7-0.4-2.1-0.7-4.2-0.7
                  c-3.2,0-5.3,0.4-6.2,0.9c-0.9,0.5-1.2,1.8-1.2,3.9v5.3h0.2c1.1-1.4,3.5-2.3,7.4-2.3c3.3,0,5.8,0.5,6.9,1.6
                  c1.2,1.1,1.8,3.2,1.8,6.2c0,3.3-0.7,5.6-1.8,6.7c-1.2,1.1-3.7,1.6-7.6,1.6c-3.9,0-6.5-0.5-7.7-1.8s-1.8-3.5-1.8-7.2l-0.2-4.6
                  l0.2-4.2c0-3.3,0.5-5.6,1.8-6.7s3.5-1.6,7.2-1.6s6.2,0.4,7.4,1.2c1.2,0.9,1.9,2.3,1.9,4.6L158.4,707.3z M149.6,713.1
                  c-2.8,0-4.6,0.4-5.5,0.9c-0.9,0.5-1.2,1.8-1.2,3.7c0,3,0.4,4.7,1.2,5.6c0.7,0.7,2.6,1.1,5.8,1.1c3,0,4.7-0.4,5.6-0.9
                  c0.7-0.5,1.1-2.1,1.1-4.4c0-2.6-0.4-4.2-1.1-4.7C154.9,713.8,152.6,713.1,149.6,713.1z"
                      fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M158.4,634.4v2.5h-14.2l-0.2,7.7h0.2c0.9-1.4,3.2-2.1,6.7-2.1c3.3,0,5.6,0.5,6.9,1.8s1.8,3.3,1.8,6.5
                  c0,3.9-0.5,6.5-1.8,7.7c-1.2,1.2-3.7,1.8-7.4,1.8c-3.7,0-6.3-0.4-7.6-1.2c-1.2-0.9-1.9-2.6-1.9-5.3v-0.9h2.6
                  c0,2.3,0.4,3.7,1.1,4.2c0.7,0.5,2.6,0.9,5.5,0.9c3.2,0,4.9-0.4,5.6-1.1c0.7-0.7,1.1-2.6,1.1-5.8c0-2.6-0.4-4.2-1.2-4.9
                  c-0.9-0.7-2.6-1.1-5.3-1.1c-3.9,0-6,0.9-6.3,2.5h-2.6v-12.8h17.2V634.4z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M156.4,567.5v17.2h3.9v2.5h-3.9v5.8h-2.8v-5.8h-14.2v-3.3l12.7-16.2L156.4,567.5L156.4,567.5z
                   M153.4,584.9v-15.3h-0.2l-11.8,15.3H153.4z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M147.5,514.6v-2.5h0.9c3.3,0,5.6-0.2,6.3-0.7s1.2-1.6,1.2-3.5c0-2.3-0.4-3.7-0.9-4.2
                  c-0.7-0.5-2.5-0.7-5.6-0.7c-2.8,0-4.4,0.2-5.1,0.7c-0.7,0.5-0.9,1.8-0.9,3.9v1.1h-2.8v-0.9c0-2.8,0.5-4.7,1.8-5.8
                  c1.2-0.9,3.5-1.4,7.2-1.4s6.2,0.4,7.4,1.2c1.2,0.9,1.8,2.6,1.8,5.3c0,2.3-0.4,3.7-0.9,4.6c-0.5,0.9-1.8,1.4-3.3,1.6v0.2
                  c1.9,0.2,3.2,0.7,3.9,1.6c0.7,0.7,0.9,2.3,0.9,4.4c0,3-0.7,4.9-1.8,5.8c-1.2,0.9-3.7,1.4-7.4,1.4c-4,0-6.7-0.4-7.9-1.4
                  c-1.2-0.9-1.9-2.8-1.9-5.6v-1.4h2.8v1.4c0,2.1,0.4,3.5,1.1,3.9s2.8,0.7,6.3,0.7c2.6,0,4.4-0.4,5.1-0.9c0.7-0.7,1.1-2.1,1.1-4.2
                  c0-1.9-0.4-3.2-0.9-3.7c-0.7-0.5-2.1-0.9-4.4-0.9h-2.5h-1.1v0.2H147.5z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M158.5,457.4v2.5h-18.3v-4.7c0-2.6,0.5-4.4,1.6-5.3s3.5-1.4,7.4-1.9c3.2-0.4,5.1-0.9,5.6-1.4
                  c0.7-0.7,0.9-2.1,0.9-4.7c0-2.3-0.4-3.7-1.1-4.2c-0.7-0.7-2.3-0.9-4.7-0.9c-3.2,0-5.1,0.2-5.8,0.7c-0.9,0.5-1.2,1.8-1.2,3.9v1.9
                  h-2.8V442c0-3.2,0.7-5.1,1.9-6.2c1.2-0.9,3.9-1.4,7.7-1.4c3.3,0,5.8,0.5,6.9,1.6c1.1,1.1,1.8,3.2,1.8,6.3c0,3.2-0.5,5.1-1.6,6.2
                  c-1.1,1.1-3.5,1.8-7.2,2.1c-3.2,0.4-5.1,0.7-5.8,1.4c-0.7,0.5-0.9,2.3-0.9,4.9v0.9L158.5,457.4L158.5,457.4z"
                      fill="#17a2b8"
                ></path>
              </g>
            <g>
                <path d="M153.3,367.6v25.5h-2.8v-23.2l-6.5,7.2l-1.8-1.8l7-7.7H153.3L153.3,367.6z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M745.7,846.4L745.7,846.4c1.8,0.4,3,0.9,3.5,1.8c0.5,0.7,0.9,2.1,0.9,4.2c0,3.2-0.5,5.1-1.8,6.2
                  c-1.2,1.1-3.7,1.4-7.4,1.4c-4.2,0-6.9-0.4-7.9-1.4c-1.2-0.9-1.8-2.8-1.8-5.8c0-2.3,0.4-3.7,0.9-4.6c0.5-0.7,1.8-1.4,3.7-1.8v-0.2
                  c-1.8-0.4-2.8-0.9-3.3-1.8c-0.5-0.7-0.7-2.1-0.7-4.2c0-2.6,0.5-4.4,1.8-5.3c1.2-0.9,3.5-1.2,7.2-1.2c4,0,6.7,0.4,7.7,1.2
                  c1.2,0.9,1.8,2.6,1.8,5.6c0,1.9-0.4,3.3-0.9,4C748.6,845.7,747.5,846.3,745.7,846.4z M740.5,847.9c-3,0-4.7,0.2-5.6,0.7
                  c-0.9,0.5-1.1,1.8-1.1,3.9c0,2.1,0.2,3.3,0.7,3.9c0.5,0.7,1.6,0.9,3.3,0.9l3.7,0.2l2.3-0.2c1.4-0.2,2.3-0.7,2.8-1.2
                  c0.5-0.7,0.7-2.1,0.7-3.9c0-1.9-0.4-3.2-1.2-3.7C745.4,848,743.5,847.9,740.5,847.9z M740.5,836.4c-2.8,0-4.7,0.2-5.3,0.7
                  c-0.5,0.5-0.9,1.8-0.9,3.9s0.4,3.3,1.2,3.7c0.7,0.4,2.8,0.7,6.3,0.7c2.3,0,3.9-0.4,4.4-0.9c0.7-0.5,0.9-1.9,0.9-3.9
                  c0-1.9-0.4-3.2-1.1-3.5C745.4,836.8,743.6,836.4,740.5,836.4z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M218.5,919.8h-12.8l-1.9,5.5h-3.2l9.3-25.5h4l9.5,25.5h-3L218.5,919.8z M217.6,917.7L212,902l-5.6,15.7
                  H217.6z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M269.2,925.2v-25.5h11.3c3.2,0,5.1,0.4,6.2,1.2c0.9,0.9,1.4,2.6,1.4,5.5c0,2.8-1.1,4.6-3.3,5.3v0.2
                  c2.6,0.7,4,2.6,4,6c0,2.6-0.5,4.6-1.6,5.6c-1.1,1.1-2.8,1.6-5.6,1.6L269.2,925.2L269.2,925.2z M272.2,911h7.6
                  c2.5,0,3.9-0.4,4.6-0.9c0.7-0.5,1.1-1.8,1.1-3.9c0-1.8-0.4-2.8-0.9-3.3c-0.7-0.5-1.9-0.7-3.9-0.7h-8.3L272.2,911L272.2,911z
                   M272.2,922.8h6.2h2.6c2.3,0,3.7-0.4,4.2-0.9c0.7-0.5,1.1-1.8,1.1-3.7c0-2.3-0.4-3.7-1.1-4.2c-0.7-0.5-2.6-0.7-5.6-0.7h-7.4V922.8
                  z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M353,916.6h2.8v0.9c0,3.5-0.7,5.6-1.8,6.5c-1.2,0.9-4.2,1.2-9,1.2c-4.2,0-6.9-0.7-8.1-2.3
                  c-1.2-1.4-1.8-5.1-1.8-10.7c0-4.4,0.2-7.2,0.4-8.3c0.2-1.2,0.9-2.1,2.3-3.2c1.4-1.1,4.6-1.6,9.3-1.6c3.2,0,5.5,0.5,6.7,1.4
                  c1.2,0.9,1.8,3,1.8,5.8v0.7h-2.8v-0.7c0-2.1-0.4-3.3-0.9-3.9c-0.7-0.5-2.1-0.9-4.4-0.9c-4.2,0-6.7,0.4-7.6,1.1
                  c-0.9,0.7-1.4,2.6-1.4,5.6c0,7.2,0.4,11.3,0.9,12.7c0.7,1.2,2.6,1.8,6.3,1.8c3.3,0,5.6-0.4,6.3-0.9c0.9-0.5,1.2-1.9,1.2-4
                  L353,916.6z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M401.9,925.2v-25.5h11.8c3.7,0,6.2,0.9,7.4,2.5c1.2,1.6,1.9,4.7,1.9,9.1c0,5.6-0.5,9.1-1.8,11.1
                  c-1.2,1.8-3.3,2.8-6.9,2.8H401.9L401.9,925.2z M404.8,922.8h8.3c3.2,0,5.1-0.7,5.8-1.8c0.9-1.2,1.2-3.9,1.2-8.1
                  c0-4.6-0.4-7.6-1.2-8.8c-0.7-1.2-2.6-1.8-5.6-1.8h-8.8L404.8,922.8L404.8,922.8z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M473.3,902.2v8.6h12.8v2.5h-12.8v9.5h13.5v2.5h-16.4v-25.5h16.4v2.5L473.3,902.2L473.3,902.2z"
                      fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M541.2,902.2v8.8h12.3v2.5h-12.3v11.8h-2.8v-25.5h15.7v2.5L541.2,902.2L541.2,902.2z"
                      fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M611.6,912.6h10.9c0,0.7,0.2,1.6,0.2,2.8c0,4.6-0.5,7.4-1.8,8.6c-1.2,1.1-4,1.6-8.8,1.6
                  c-4.4,0-7.4-0.7-8.6-1.9c-1.2-1.2-1.9-4.2-1.9-8.6v-3.7v-2.3c0-3.7,0.7-6.3,2.1-7.6c1.4-1.2,4.2-1.9,8.6-1.9s7.2,0.4,8.4,1.2
                  c1.2,0.9,1.9,2.6,1.9,5.5v0.9h-2.8v-0.7c0-2.1-0.4-3.3-1.2-3.9c-0.9-0.4-3.2-0.7-6.7-0.7c-3.3,0-5.5,0.4-6.2,1.2
                  c-0.7,0.7-1.2,2.8-1.2,6v3.3v3.7c0,3.2,0.4,5.3,1.4,5.8c0.9,0.7,3.3,1.1,7.4,1.1c3.2,0,5.1-0.4,5.6-1.1c0.7-0.7,1.1-2.6,1.1-5.5
                  c0-0.2,0-0.7-0.2-1.6h-8.1v-2.3H611.6z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M688.9,899.7v25.5h-2.8v-11.8h-14.9v11.8h-3v-25.5h2.8V911H686v-11.3H688.9z"
                      fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M218.5,320.8h-12.8l-1.9,5.5h-3.2l9.3-25.5h4l9.5,25.5h-3L218.5,320.8z M217.6,318.7L212,303l-5.6,15.7
                  H217.6z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M269.2,326.2v-25.3h11.3c3.2,0,5.1,0.4,6.2,1.2c0.9,0.9,1.4,2.6,1.4,5.5s-1.1,4.6-3.3,5.3v0.2
                  c2.6,0.7,4,2.6,4,6c0,2.6-0.5,4.6-1.6,5.6c-1.1,1.1-2.8,1.6-5.6,1.6C281.6,326.2,269.2,326.2,269.2,326.2z M272.2,312h7.6
                  c2.5,0,3.9-0.4,4.6-0.9s1.1-1.8,1.1-3.9c0-1.8-0.4-2.8-0.9-3.3s-1.9-0.7-3.9-0.7h-8.3L272.2,312L272.2,312z M272.2,323.8h6.2h2.6
                  c2.3,0,3.7-0.4,4.2-0.9c0.7-0.5,1.1-1.8,1.1-3.7c0-2.3-0.4-3.7-1.1-4.2c-0.7-0.5-2.6-0.7-5.6-0.7h-7.4V323.8z"
                      fill="#17a2b8"
                ></path>
              </g>
            <g>
                <path d="M353,317.8h2.8v0.9c0,3.5-0.7,5.6-1.8,6.5c-1.2,0.9-4.2,1.2-9,1.2c-4.2,0-6.9-0.7-8.1-2.3
                  c-1.2-1.4-1.8-5.1-1.8-10.7c0-4.4,0.2-7.2,0.4-8.3c0.4-1.2,0.9-2.1,2.3-3.2c1.4-1.1,4.6-1.6,9.3-1.6c3.2,0,5.5,0.5,6.7,1.4
                  c1.2,0.9,1.8,3,1.8,5.8v0.7h-2.8v-0.7c0-2.1-0.4-3.3-0.9-3.9c-0.7-0.5-2.1-0.9-4.4-0.9c-4.2,0-6.7,0.4-7.6,1.1
                  c-0.9,0.7-1.4,2.6-1.4,5.6c0,7.2,0.4,11.3,0.9,12.7c0.7,1.2,2.6,1.8,6.3,1.8c3.3,0,5.6-0.4,6.3-0.9c0.9-0.5,1.2-1.9,1.2-4
                  L353,317.8z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M401.9,326.2v-25.3h11.8c3.7,0,6.2,0.9,7.4,2.5c1.2,1.6,1.9,4.7,1.9,9.1c0,5.6-0.5,9.1-1.8,11.1
                  c-1.2,1.8-3.3,2.8-6.9,2.8L401.9,326.2L401.9,326.2z M404.8,323.8h8.3c3.2,0,5.1-0.7,5.8-1.8c0.7-1.1,1.2-3.9,1.2-8.1
                  c0-4.6-0.4-7.6-1.2-8.8c-0.7-1.2-2.6-1.8-5.6-1.8h-8.8L404.8,323.8L404.8,323.8z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M473.3,303.2v8.8h12.8v2.5h-12.8v9.5h13.5v2.5h-16.4v-25.5h16.4v2.5L473.3,303.2L473.3,303.2z"
                      fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M541.2,303.2v8.8h12.3v2.5h-12.3v11.8h-2.8v-25.3h15.7v2.5L541.2,303.2L541.2,303.2z"
                      fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M611.6,313.6h10.9c0,0.7,0.2,1.6,0.2,2.8c0,4.6-0.5,7.4-1.8,8.6c-1.2,1.1-4,1.6-8.8,1.6
                  c-4.4,0-7.4-0.7-8.6-1.9c-1.2-1.2-1.9-4.2-1.9-8.6v-3.7v-2.3c0-3.7,0.7-6.3,2.1-7.6c1.4-1.2,4.2-1.9,8.6-1.9s7.2,0.4,8.4,1.2
                  c1.2,0.9,1.9,2.6,1.9,5.5v0.9h-2.8v-0.7c0-2.1-0.4-3.3-1.2-3.9c-0.9-0.5-3.2-0.7-6.7-0.7c-3.3,0-5.5,0.4-6.2,1.2
                  c-0.9,0.7-1.2,2.8-1.2,6v3.3v3.7c0,3.2,0.4,5.3,1.4,5.8c0.9,0.7,3.3,1.1,7.4,1.1c3.2,0,5.1-0.4,5.6-1.1c0.7-0.7,1.1-2.6,1.1-5.5
                  c0-0.2,0-0.7-0.2-1.6h-8.1v-2.3H611.6z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M688.9,300.7v25.5h-2.8v-11.8h-14.9v11.8h-3v-25.5h2.8V312H686v-11.3H688.9z"
                      fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M749.6,767.7v3.7l-12.3,21.8H734l13.4-23h-16.2v-2.5H749.6z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M749.4,707.3h-2.8c0-0.4,0.2-0.7,0.2-0.9c0-1.4-0.4-2.3-1.1-2.6s-2.1-0.7-4.2-0.7c-3.2,0-5.3,0.4-6.2,0.9
                  c-0.9,0.5-1.2,1.8-1.2,3.9v5.3h0.2c1.1-1.4,3.5-2.3,7.4-2.3c3.3,0,5.8,0.5,6.9,1.6c1.2,1.1,1.8,3.2,1.8,6.2c0,3.3-0.7,5.6-1.8,6.7
                  c-1.2,1.1-3.7,1.6-7.6,1.6c-3.9,0-6.5-0.5-7.7-1.8c-1.2-1.2-1.8-3.5-1.8-7.2l-0.2-4.6l0.2-4.2c0-3.3,0.5-5.6,1.8-6.7
                  c1.2-1.1,3.5-1.6,7.2-1.6s6.2,0.4,7.4,1.2c1.2,0.9,1.9,2.3,1.9,4.6L749.4,707.3z M740.6,713.1c-2.8,0-4.6,0.4-5.5,0.9
                  c-0.9,0.5-1.2,1.8-1.2,3.7c0,3,0.4,4.7,1.2,5.6c0.7,0.7,2.6,1.1,5.8,1.1c3,0,4.7-0.4,5.6-0.9c0.7-0.5,1.1-2.1,1.1-4.4
                  c0-2.6-0.4-4.2-1.1-4.7C745.9,713.8,743.6,713.1,740.6,713.1z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M749.3,634.4v2.5H735l-0.2,7.7h0.2c0.9-1.4,3.2-2.1,6.7-2.1c3.3,0,5.6,0.5,6.9,1.8s1.8,3.3,1.8,6.5
                  c0,3.9-0.5,6.5-1.8,7.7c-1.2,1.2-3.7,1.8-7.4,1.8s-6.3-0.4-7.6-1.2c-1.2-0.9-1.9-2.6-1.9-5.3v-0.9h2.6c0,2.3,0.4,3.7,1.1,4.2
                  c0.7,0.5,2.6,0.9,5.5,0.9c3.2,0,4.9-0.4,5.6-1.1s1.1-2.6,1.1-5.8c0-2.6-0.4-4.2-1.2-4.9c-0.7-0.7-2.6-1.1-5.3-1.1
                  c-3.9,0-6,0.9-6.3,2.5H732v-12.8h17.2V634.4z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M747.5,567.5v17.2h3.9v2.5h-3.9v5.8h-2.8v-5.8h-14.2v-3.3l12.7-16.2L747.5,567.5L747.5,567.5z
                   M744.5,584.9v-15.3h-0.2l-11.8,15.3H744.5z" fill="#17a2b8"></path>
              </g>
            <g>
                <path d="M738.5,514.6v-2.5h0.9c3.3,0,5.6-0.2,6.3-0.7c0.7-0.4,1.2-1.6,1.2-3.5c0-2.3-0.4-3.7-0.9-4.2
                  c-0.7-0.5-2.5-0.7-5.6-0.7c-2.8,0-4.4,0.2-5.1,0.7c-0.7,0.5-0.9,1.8-0.9,3.9v1.1h-2.8v-0.9c0-2.8,0.5-4.7,1.8-5.8
                  c1.2-0.9,3.5-1.4,7.2-1.4s6.2,0.4,7.4,1.2c1.2,0.9,1.8,2.6,1.8,5.3c0,2.3-0.4,3.7-0.9,4.6c-0.5,0.9-1.8,1.4-3.3,1.6v0.2
                  c1.9,0.2,3.2,0.7,3.9,1.6c0.7,0.7,0.9,2.3,0.9,4.4c0,3-0.7,4.9-1.8,5.8c-1.2,0.9-3.7,1.4-7.4,1.4c-4,0-6.7-0.4-7.9-1.4
                  c-1.2-0.9-1.9-2.8-1.9-5.6v-1.4h2.8v1.4c0,2.1,0.4,3.5,1.1,3.9c0.7,0.4,2.8,0.7,6.3,0.7c2.6,0,4.4-0.4,5.1-0.9
                  c0.7-0.7,1.1-2.1,1.1-4.2c0-1.9-0.4-3.2-0.9-3.7c-0.7-0.5-2.1-0.9-4.4-0.9h-2.5h-1.4V514.6z"
                      fill="#17a2b8"></path>
              </g>

            <g>
                <path d="M749.6,457.4v2.5h-18.3v-4.7c0-2.6,0.5-4.4,1.6-5.3s3.5-1.4,7.4-1.9c3.2-0.4,5.1-0.9,5.6-1.4
                  c0.7-0.7,0.9-2.1,0.9-4.7c0-2.3-0.4-3.7-1.1-4.2c-0.7-0.7-2.3-0.9-4.7-0.9c-3.2,0-5.1,0.2-5.8,0.7s-1.2,1.8-1.2,3.9v1.9h-2.5V442
                  c0-3.2,0.7-5.1,1.9-6.2c1.2-1.1,3.9-1.4,7.7-1.4c3.3,0,5.8,0.5,6.9,1.6c1.1,1.1,1.8,3.2,1.8,6.3c0,3.2-0.5,5.1-1.6,6.2
                  c-1.1,1.1-3.5,1.8-7.2,2.1c-3.2,0.4-5.1,0.7-5.8,1.4c-0.7,0.5-0.9,2.3-0.9,4.9v0.9L749.6,457.4L749.6,457.4z"
                      fill="#17a2b8">
                </path>
              </g>

            <g>
                <path d="M744.3,367.6v25.5h-2.8v-23.2l-6.5,7.2l-1.8-1.8l7-7.7C740.1,367.6,744.3,367.6,744.3,367.6z"
                      fill="#17a2b8"></path>
              </g>
            </g>
          </svg>

      </div>

    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
