$color_pink: rgb(211, 54, 130);

.icon {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  width: 1em;
  overflow: visible;
  vertical-align: -.125em;
  text-rendering: auto;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-highlight {
  color: $color_pink;
}

svg g path {
  &:hover {
    transition: all ease-in-out .2s;
    fill: gray;
  }
}

.info {
  fa {
    cursor: pointer;

    &:hover {
      color: gray;
    }
  }
}
